{% extends 'layout.html' %}

{% block title %}
  About Us
{% endblock %}

{% block body %}
<div class="container p-5">
  <div class="card bg-dark text-white">
    <div class="card-body">
      <h1 class="card-title">About This Project</h1>
      <p class="card-text">
        This is a Flask-based web application developed to manage the entire winemaking
        process in a winery. It allows for the digital tracking of grape varieties,
        winemaking stages (such as fermentation, aging, and bottling), and process parameters
        (like acidity and pH). The application uses SQLAlchemy for database management and
        provides a simple, user-friendly interface to register and track grape varieties,
        as well as monitor the production stages from grape reception to final bottling.
      </p>
      <p class="card-text">
        Created by Enzo Rojas, Matías Agüero, Gustavo Vera, Lautaro Videla
      </p>
      <a href="/varieties" class="btn btn-primary">Back</a>
    </div>
  </div>
</div>
{% endblock %}







